@tailwind base;
@tailwind components;
@tailwind utilities;

/* grid 관련 css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 왼쪽(1fr)과 오른쪽(2fr) 영역을 정의 */
  grid-gap: 20px; /* 그리드 간격 설정 */
}

.cate::after {
  content: "";
  clear: both;
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #cbcbcb;
  margin-right: 4px;
  vertical-align: middle;
  margin-bottom: 1px;
}

/* settings tab */
.settings-tab {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
  background: #eeeeee;
  font-size: 15px;
  line-height: 21px;
  color: #767676;
  text-align: center;
  align-items: center;
  padding-top: 5px;
}

.settings-tab.active {
  color: #000000;
  font-weight: 500;
  position: relative;
  background-color: white;
}

.active-link::after {
  content: '';
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 2px;
  background: #ffffff;
}

.full-width-border {
  grid-column: -1 / 13; /* 그리드의 처음부터 끝까지 확장 */
}

/* 커뮤니티 페이지 상단부 */
.community-header {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f0c27b, #4b1248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}